apiVersion: v1
kind: Service
metadata:
  name: { { include "helm.name" . } }
spec:
  type: { { .Values.service.type } }
  selector:
    app: { { .Values.deployment.app } }
  ports:
    - protocol: TCP
      port: { { .Values.service.ports.port } }
      targetPort: { { .Values.service.ports.targetPort } }
      nodePort: { { .Values.service.ports.nodePort } }
